h1 {
 color: #000099;
 text-align: center;
 text-transform: uppercase;
 text-decoration: underline overline;
 letter-spacing: 6px;
 text-shadow: 2px 2px lightgray;
 font-family: Georgia;
 font-weight: bold;
 font-style: italic;
 font-size: 2.5em;
}
p{
 text-indent: 40px;
 line-height: 1.4em;
 word-spacing: 2px;
 font-size: 16pt;
}
img {
 float: right;
 margin-left: 10px;
 visibility: visible;
 border: 1px black solid;
 width: 65%;
}